@model IEnumerable<MusicStore.Models.Genres>

@{
    ViewData["Title"] = "Index";
}



<select name="genres" id="genres" onchange="updateLink()">
@foreach (var item in Model) {
        <option value="@item.GenreId.ToString()">
            @Html.DisplayFor(modelItem => item.GenreName)
        </option>
}
</select>

<a id="genreLink" href="@Url.Action("Index", "Artists")">Go to selected genre</a>

<script>
    function updateLink() {
        var dropdown = document.getElementById('genres');
        var selectedGenre = dropdown.options[dropdown.selectedIndex].value;
        var linkUrl = '@Url.Action("Index", "Artists")' + '?genre=' + encodeURIComponent(selectedGenre);

        document.getElementById('genreLink').href = linkUrl;
    }
</script>