@model IEnumerable<MusicStore.Models.Artists>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>



<select name="artists" id="artists" onchange="updateLink()">
    @foreach (var item in Model)
    {
        <option value="@item.ArtistID.ToString()">
            @Html.DisplayFor(modelItem => item.ArtistName)
        </option>
    }
</select>

<a id="artistLink" href="#">Go to selected Artist</a>

<script>
    function updateLink() {
        var dropdown = document.getElementById('artists');
        var selectedArtist = dropdown.options[dropdown.selectedIndex].value;

        var linkUrl = '@Url.Action("Index", "Songs")' + '?artist=' + encodeURIComponent(selectedArtist);

        document.getElementById('artistLink').href = linkUrl;
    }
</script>